header {
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 72px 3px rgba(218, 214, 104, 0.27);
    border-radius: 0 0 40px 40px / 0 0 20px 20px;
}

header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    font-weight: 100;
    font-family: Poppins, sans-serif;
    font-weight: 200;
}

header .logout {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

body {
  background: radial-gradient(27rem circle at bottom right,  
        rgba(1, 196, 118, 1) 5%,
        rgba(1, 172, 104, 1) 30%,  
        rgba(2, 23, 17, 1) 120%
    );
}

main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.input-container {
  margin: 0.5rem auto 0.5rem;
  position: relative;
  width: 70%;
  height: 6vh;
}

.input-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  cursor: pointer;
  z-index: 2;
}

.custom-input:focus-within {
  border: 2px solid #01C476;
  box-shadow: 0 0 4px 2px rgba(1, 196, 118, 0.3);
}

.input-container:focus-within .edit-icon {
  visibility: hidden;
}

.edit-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}

.custom-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
  outline: none;
  padding-right: 2.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  padding: 8px;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins, sans-serif;
  font-weight: 200;
}

.button-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 70%;
  height: 6vh;
  margin: 0.25rem auto;
  border-radius: 10px;
  background: #021711;
  border: 1px solid black;
  box-shadow: 0 0 1px 1px rgba(218, 214, 104, 0.3);
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

button:active {
  border: 1px solid #021711;
  box-shadow: 0 0 1px 1px #021711;
  background: #021711;
}

button p {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
  transition: font-size 0.3s ease-in-out;
}

button:active p {
  font-size: 15px;
}

.save-button {
  background: #01C476 !important;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}