<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Perfil</h1>
    <fa-icon class="logout" [icon]="faArrowRightFromBracket"></fa-icon>
  </header>
  <main>
    <div class="input-container">
      <input type="text" class="custom-input" placeholder="Nome" value="{{ name }}"/>
      <!-- add letter mask -->
    </div>
    <button class="save-button" (click)="saveName()"><p>Salvar</p></button>
    <button><p>Alterar Senha</p></button>
    <button><p>Excluir Perfil</p></button>
  </main>
</body>