<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Perfil</h1>
    <fa-icon class="logout" [icon]="faArrowRightFromBracket"></fa-icon>
  </header>
  <main>
    <div class="input-container">
      <input
        type="text"
        class="custom-input"
        placeholder="Nome"
        [(ngModel)]="name"
      />
      <fa-icon class="edit-icon" [icon]="faPencil"></fa-icon>
    </div>
    <div class="input-container">
      <input
        #inputRefEmail
        type="email"
        class="custom-input"
        placeholder="Email"
        [(ngModel)]="email"
        disabled
      />
      <fa-icon class="edit-icon" [icon]="faRightLeft"></fa-icon>
      <div class="input-overlay" (click)="openModal(inputRefEmail.type)"></div>
    </div>
    <div class="input-container">
      <input
        #inputRefPhone
        type="tel"
        class="custom-input"
        placeholder="Telefone"
        [(ngModel)]="phone"
        disabled
      />
      <fa-icon class="edit-icon" [icon]="faRightLeft"></fa-icon>
      <div class="input-overlay" (click)="openModal(inputRefPhone.type)"></div>
    </div>
    <div class="button-container">
      <button class="save-button"><p>Salvar</p></button>
    </div>
    <div class="button-container">
      <button><p>Alterar Senha</p></button>
    </div>
    <div class="button-container">
      <button><p>Excluir Perfil</p></button>
    </div>
    <!--method 1-->
    <app-profile-modal></app-profile-modal>
    <!--method 2-->
    <!-- <app-profile-modal [open]="isModalOpen" (closed)="onModalClosed()"></app-profile-modal> -->
  </main>
</body>
