<!-- <ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/imgs/logo.png">
  </div>

  <div class="form-tabs">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
    <label for="tab-1" class="tab">Login</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up">
    <label for="tab-2" class="tab">Cadastro</label>

    <div class="login-signup-form">
      <div class="sign-in-form">
        <form class="form">
          <ion-list lines="none">
            <div>
              <ion-item class="input background">
                <ion-input
                  name="tel"
                  type="tel"
                  placeholder="Telefone"
                  [maskito]="phoneMask"
                  [maskitoElement]="maskPredicate"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg">Telefone é obrigatório</p>
            </ion-text>

            <ion-item class="input background">
              <ion-input
                name="password"
                placeholder="Senha"
                required
                minlength="8">
              </ion-input>
              <fa-icon class="eye" [icon]="faEye"></fa-icon>
            </ion-item> 

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg">Senha é obrigatória</p>
            </ion-text>

            <ion-item class="background ion-margin-vertical">
              <ion-checkbox class="ion-margin-start" slot="start"></ion-checkbox>
              <ion-text class="textLogin" slot="start">Lembrar senha</ion-text>
              <ion-text class="textLogin ion-margin-end" slot="end">
                <a href="">Recuperar senha</a>
              </ion-text>
            </ion-item>

            <button class="ion-text-center" routerLink="/home">
              <p>Login</p>
            </button>
          </ion-list>
        </form>
      </div>

      <div class="sign-up-form">
        <form class="form">
          <ion-list lines="none">
            <div>
              <ion-item class="input background">
                <ion-input
                  name="tel"
                  type="tel"
                  placeholder="Telefone"
                  [maskito]="phoneMask"
                  [maskitoElement]="maskPredicate"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg">Telefone é obrigatório</p>
            </ion-text>

            <button class="ion-text-center sign-up-button" disabled>
              <p>Cadastrar</p>
            </button>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content> -->

<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/imgs/logo.png">
  </div>

  <div class="form-tabs">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
    <label for="tab-1" class="tab">Login</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up">
    <label for="tab-2" class="tab">Cadastro</label>

    <div class="login-signup-form">
      <div class="sign-in-form">
        <form class="form">
          <ion-list lines="none">
            <div>
              <ion-item class="input background">
                <ion-input
                  name="tel"
                  type="tel"
                  placeholder="Telefone"
                  [maskito]="phoneMask"
                  [maskitoElement]="maskPredicate"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg">Telefone é obrigatório</p>
            </ion-text>

            <ion-item class="input background">
              <ion-input
                name="password"
                placeholder="Senha"
                required
                minlength="8">
              </ion-input>
              <fa-icon class="eye" [icon]="faEye"></fa-icon>
            </ion-item>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg">Senha é obrigatória</p>
            </ion-text>

            <ion-item class="background ion-margin-vertical">
              <ion-checkbox class="ion-margin-start" slot="start"></ion-checkbox>
              <ion-text class="textLogin" slot="start">Lembrar senha</ion-text>
              <ion-text class="textLogin ion-margin-end" slot="end">
                <a href="">Recuperar senha</a>
              </ion-text>
            </ion-item>

            <button class="ion-text-center" routerLink="/home">
              <p>Login</p>
            </button>
          </ion-list>
        </form>
      </div>

      <div class="sign-up-form">
        <!-- Step 1: Phone number input -->
        <form class="form" *ngIf="signupStep === 1">
          <ion-list lines="none">
            <div>
              <ion-item class="input background">
                <ion-input
                  name="tel"
                  type="tel"
                  placeholder="Telefone"
                  [maskito]="phoneMask"
                  [maskitoElement]="maskPredicate"
                  [(ngModel)]="signupData.phone"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.phone">Telefone é obrigatório</p>
            </ion-text>

            <button class="ion-text-center" (click)="goToNextStep($event)">
              <p>Continuar</p>
            </button>

            <div class="login-link ion-margin-top">
              <p>Já possui cadastro? <a href="javascript:void(0)" (click)="goToLogin()">Voltar ao acesso</a></p>
            </div>
          </ion-list>
        </form>

        <!-- Step 2: Verification code -->
        <form class="form" *ngIf="signupStep === 2">
          <ion-list lines="none">
            <div class="verification-message">
              <p>Código enviado para ({{signupData.phone}})</p>
              <a href="javascript:void(0)" (click)="goBackToStep(1)">Alterar número</a>
            </div>

            <div>
              <ion-item class="input background">
                <ion-input
                  name="verificationCode"
                  type="text"
                  placeholder="Código de Validação"
                  [(ngModel)]="signupData.verificationCode"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.verificationCode">Código é obrigatório</p>
            </ion-text>

            <button
              class="ion-text-center resend-button"
              type="button"
              (click)="resendCode()">
              <p>Reenviar código ({{resendCountdown}})</p>
            </button>

            <button class="ion-text-center" (click)="goToNextStep($event)">
              <p>Continuar</p>
            </button>

            <div class="login-link ion-margin-top">
              <p>Já possui cadastro? <a href="javascript:void(0)" (click)="goToLogin()">Voltar ao acesso</a></p>
            </div>
          </ion-list>
        </form>

        <!-- Step 3: Full registration form -->
        <form class="form" *ngIf="signupStep === 3">
          <ion-list lines="none">
            <div>
              <ion-item class="input background">
                <ion-input
                  name="name"
                  type="text"
                  placeholder="Nome"
                  [(ngModel)]="signupData.name"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.name">Nome é obrigatório</p>
            </ion-text>

            <div>
              <ion-item class="input background">
                <ion-input
                  name="email"
                  type="email"
                  placeholder="Email"
                  [(ngModel)]="signupData.email"
                  required>
                </ion-input>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.email">Email é obrigatório</p>
            </ion-text>

            <div>
              <ion-item class="input background">
                <ion-input
                  name="password"
                  type="password"
                  placeholder="Senha"
                  [(ngModel)]="signupData.password"
                  required>
                </ion-input>
                <fa-icon class="eye" [icon]="faEye" (click)="togglePasswordVisibility('password')"></fa-icon>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.password">Senha é obrigatória</p>
            </ion-text>

            <div>
              <ion-item class="input background">
                <ion-input
                  name="confirmPassword"
                  type="password"
                  placeholder="Confirme a senha"
                  [(ngModel)]="signupData.confirmPassword"
                  required>
                </ion-input>
                <fa-icon class="eye" [icon]="faEye" (click)="togglePasswordVisibility('confirmPassword')"></fa-icon>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.confirmPassword">Confirmação de senha é obrigatória</p>
            </ion-text>

            <div>
              <ion-item class="input background">
                <ion-select placeholder="Como nos conheceu?" [(ngModel)]="signupData.referral" name="referral">
                  <ion-select-option value="social">Redes Sociais</ion-select-option>
                  <ion-select-option value="friend">Indicação de Amigo</ion-select-option>
                  <ion-select-option value="search">Busca na Internet</ion-select-option>
                  <ion-select-option value="ad">Publicidade</ion-select-option>
                  <ion-select-option value="other">Outro</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <ion-text color="warning" class="ion-text-start">
              <p class="errorMsg" *ngIf="formErrors.referral">Este campo é obrigatório</p>
            </ion-text>

            <button class="ion-text-center" (click)="submitRegistration($event)">
              <p>Continuar</p>
            </button>

            <div class="login-link ion-margin-top">
              <p>Já possui cadastro? <a href="javascript:void(0)" (click)="goToLogin()">Voltar ao acesso</a></p>
            </div>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content>
