<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Cupons</h1>
  </header>
  <main>
    <div class="segmented-container">
      <div class="segmented-control">
        <button class="segment" (click)="selectSegment($event, 0)">Todos</button>
        <button class="segment" (click)="selectSegment($event, 1)">Disponíveis</button>
        <button class="segment" (click)="selectSegment($event, 2)">Ativos</button>
        <div class="segment-indicator"></div>
      </div>
    </div>
    <app-loading *ngIf="isCouponLoading" [message]="'Carregando cupons'"></app-loading>
    <app-coupon 
      (loadingChange)="isCouponLoading = $event">
    </app-coupon>
  </main>
</body>
