<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Estabelecimento</h1>
  </header>
  <main>

    <div class="establishment-container">
      <div class="avatar-container">
        <div class="avatar">
          <img src="assets/imgs/logo.png" alt="Logo">
        </div>
        <span>BIT SHOP</span>
      </div>
      <div class="buttons">
        <div class="phone-button">
          <button><fa-icon [icon]="faPhone"></fa-icon></button>
          <span>telefone</span>
        </div>
        <div class="email-button">
          <button><fa-icon [icon]="faEnvelope"></fa-icon></button>
          <span>email</span>
        </div>
      </div>
    </div>

    <div class="content">
      <h2>Promoções</h2>
      <div class="coupons">
        <div class="coupon">
          <span>15% de desconto</span>
            <div class="coupon-icon">
              <img src="assets/imgs/logo.png" alt="Coupon">
            </div>
          <span>Cashback</span>
        </div>
        <div class="coupon">
          <span>15% de desconto</span>
            <div class="coupon-icon">
              <img src="assets/imgs/logo.png" alt="Coupon">
            </div>
          <span>Cashback</span>
        </div>
        <div class="coupon">
          <span>15% de desconto</span>
            <div class="coupon-icon">
              <img src="assets/imgs/logo.png" alt="Coupon">
            </div>
          <span>Cashback</span>
        </div>
        <div class="coupon">
          <span>15% de desconto</span>
            <div class="coupon-icon">
              <img src="assets/imgs/logo.png" alt="Coupon">
            </div>
          <span>Cashback</span>
        </div>
        <div class="coupon">
          <span>15% de desconto</span>
            <div class="coupon-icon">
              <img src="assets/imgs/logo.png" alt="Coupon">
            </div>
          <span>Cashback</span>
        </div>
      </div>
      <div class="location">
        <h2>Localização</h2>
        <p>SIAS QD 04 C LOTE LOJA 02 E SOBRELOJA - SIA, Brasília - DF, 71200010</p>
      </div>
      <div class="rules">
        <h2>Regras da empresa</h2>
        <p>Troca de Produtos:</p>
        <p>- até 30 dias após a compra;</p>
        <p>- apresentar nota fiscal (NFC-e) da compra;</p>
        <p>- produto precisa estar com a etiqueta da loja.</p>
      </div>
    </div>
  </main>
</body>
