<body>
  <header>
    <app-back-button></app-back-button>
    <h1 class="forgot-password-title">Recuperar senha</h1>
  </header>
  <main class="forgot-password-content" [@routeAnimation]>
    <div class="forgot-password-container">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <ion-item class="input background">
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            required
          ></ion-input>
        </ion-item>
        <button class="button forgot-password-btn" type="submit" [disabled]="forgotPasswordForm.invalid">
          <p>Continuar</p>
        </button>
      </form>
      <div class="forgot-password-link">
        <a (click)="goBackToLogin()">Voltar ao acesso</a>
      </div>
    </div>
  </main>
</body>