<main>
  <app-loading *ngIf="isCouponLoading" [message]="'Carregando lojas'"></app-loading>
  <app-map
    [ngClass]="{'visible': visible}"
    [establishments]="establishments"
    [selectedEstablishmentId]="selectedEstablishmentId">
  </app-map>
  <app-bottom-sheet
    [ngClass]="{'visible': visible}"
    (loadingChange)="onLoadingChange($event)"
    (establishmentsChange)="onEstablishmentsChange($any($event).detail)"
    (selectedEstablishmentChange)="onSelectedEstablishmentChange($any($event).detail)">
  </app-bottom-sheet>
  <app-back-button></app-back-button>
</main>