<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Excluir conta</h1>
  </header>
  <main>
    <div class="container">
      <p>Para excluir sua conta, vocé deve entrar em contato com a nossa equipe de atendimento e informar
        que deseja cancelar sua conta.</p>
      <p>1° - Clique no botão abaixo para ser redirecionado para a equipe de atendimento do Cashz.</p>
      <p>2° - Envie uma mensagem dizendo que deseja cancelar sua conta Cashz.</p>
    </div>
    <button><p>Excluir conta</p></button>
  </main>
</body>