<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Extrato</h1>
  </header>
  <main>
    <div class="container">
      <div class="establishment-container">
        <div class="avatar">
          <img src="assets/imgs/logo.png" alt="Logo">
        </div>
        <span>BIT SHOP</span>
      </div>
      <div class="balance-container">
        <div class="balance">
          <p>Cashback disponível</p>
          <div class="balance-value">
            <p class="p1">
              R$
            </p>
            <p class="p2">
              <span *ngIf="showBalance; else hiddenBalance">{{ totalCashback }}</span>
              <ng-template #hiddenBalance>•••••</ng-template>
            </p>
            <fa-icon
              class="eye"
              [icon]="showBalance ? faEyeSlash : faEye"
              (click)="toggleBalance()"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="extracts-list-container">
      <div class="header">
        <h1>Extrato</h1>
        <div class="select-container">
          <ion-select
            interface="action-sheet"
            toggleIcon=""
            (ionChange)="filterExtracts($event)">
            <span class="swap-icon material-symbols-outlined" slot="end">swap_vert</span>
            <ion-select-option value="dtmovimento_desc">Mais recentes</ion-select-option>
            <ion-select-option value="dtmovimento_asc">Mais antigas</ion-select-option>
            <ion-select-option value="vrcashback#CREDITO_desc">Maior cashback recebido</ion-select-option>
            <ion-select-option value="vrcashback#CREDITO_asc">Menor cashback recebido</ion-select-option>
            <ion-select-option value="vrcashback#DEBITO_desc">Maior cashback utilizado</ion-select-option>
            <ion-select-option value="vrcashback#DEBITO_asc">Menor cashback utilizado</ion-select-option>
            <ion-select-option value="dtvalidade#CREDITO_asc">Cashback a expirar</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="extracts-list">

        <div class="extract-container" *ngFor="let extract of extratoOrdenado">
          <div class="content">
            <span class="date-time">{{ extract.dtmovimento | date: 'dd/MM/yyyy HH:mm' : 'UTC' }}</span>
            <p class="extract-description">Cashback {{ extract.debcred === 'CREDITO' ? 'recebido' : 'utilizado' }}</p>
          </div>
          <div class="extract-balance">
            <span class="{{ extract.debcred === 'CREDITO' ? 'green' : 'red' }}">{{ extract.debcred === 'CREDITO' ? '+' : '-' }} R$ {{ extract.vrcashback | number:'1.0-0':'pt-BR' }}</span>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>