<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Extrato</h1>
  </header>
  <main>
    <div class="container">
      <div class="balance-container">
        <div class="balance">
          <p>Cashback disponível</p>
          <div class="balance-value">
            <p>
              R$
              <span *ngIf="showBalance; else hiddenBalance">{{ totalCashback$ | async }}</span>
              <ng-template #hiddenBalance>•••••</ng-template>
            </p>
            <fa-icon
              class="eye"
              [icon]="showBalance ? faEyeSlash : faEye"
              (click)="toggleBalance()"
            ></fa-icon>
          </div>
        </div>
      </div>
      <div class="establishment-container">
        <div class="avatar">
          <img src="assets/imgs/logo.png" alt="Logo">
        </div>
        <span>BIT SHOP</span>
      </div>
    </div>
    <div class="extracts-list-container">
      <div class="header">
        <h1>Extrato</h1>
        <span class="swap-icon material-symbols-outlined" (click)="filterExtracts()">swap_vert</span>
      </div>
      <div class="extracts-list">

        <div class="extract-container" *ngFor="let detalhe of detalheArray$ | async">
          <div class="content">
            <span class="date-time">{{ detalhe.dtmovimento | date: 'dd/MM/yyyy HH:mm' : 'UTC' }}</span>
            <p class="extract-description">Utilizou cashback</p>
          </div>
          <div class="extract-balance">
            <span>+R$ {{ detalhe.vrcashback | number:'1.0-0':'pt-BR' }}</span>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>