<ion-content [fullscreen]="true">
  <!-- Avatar Section -->
  <ion-avatar>
    <ion-img src="assets/imgs/logo.png"></ion-img>
  </ion-avatar>

  <!-- Login Form -->
  <form #f="ngForm" class="form">
    <ion-list lines="none">

      <!-- Telephone Input -->
      <div>
        <ion-item class="input background">
          <ion-input
            name="tel"
            type="tel"
            placeholder="Telefone"
            [maskito]="phoneMask"
            [maskitoElement]="maskPredicate"
            required>
          </ion-input>
        </ion-item>
      </div>
      
      <!-- Telephone Error Message -->
      <ion-text color="warning" class="ion-text-start">
        <p class="errorMsg">Telefone é obrigatório</p>
      </ion-text>

      <!-- Password Input -->
      <ion-item class="input background">
        <ion-icon color="primary" slot="end" name="eye-outline"></ion-icon>
        <ion-input
          name="password"
          placeholder="Senha"
          required
          minlength="8">
        </ion-input>
      </ion-item> <!-- Adicionar eye-outline/eye-off-outline -->
      
      <!-- Password Error Message -->
      <ion-text color="warning" class="ion-text-start">
        <p class="errorMsg">Senha é obrigatória</p>
      </ion-text>

      <!-- Remember Me & Recover Password -->
      <ion-item class="background ion-margin-vertical">
        <ion-checkbox class="ion-margin-start" slot="start"></ion-checkbox>
        <ion-text class="textLogin" slot="start">Lembrar senha</ion-text>
        <ion-text class="textLogin ion-margin-end" slot="end">
          <a href="">Recuperar senha</a>
        </ion-text>
      </ion-item>

      <!-- Login Button -->
      <ion-button
        class="ion-text-center ion-no-padding ion-margin-horizontal"
        expand="block"
        [disabled]="!f.valid">
        <p>Login</p>
      </ion-button>

    </ion-list>

    <!-- Register Link -->
    <ion-text class="ion-text-center">
      <p class="textLogin bottomMsg">Não tem uma conta? <a href="">Cadastre-se</a></p>
    </ion-text>

  </form>
</ion-content>
