<ion-content [fullscreen]="true">
  <ion-avatar>
    <ion-img src="assets/imgs/logo.png"></ion-img>
  </ion-avatar>

  <form class="form">
    <ion-list lines="none">

      <div>
        <ion-item class="input background">
          <ion-input
            name="tel"
            type="tel"
            placeholder="Telefone"
            [maskito]="phoneMask"
            [maskitoElement]="maskPredicate"
            required>
          </ion-input>
        </ion-item>
      </div>
      
      <ion-text color="warning" class="ion-text-start">
        <p class="errorMsg">Telefone é obrigatório</p>
      </ion-text>

      <ion-item class="input background">
        <ion-input
          name="password"
          placeholder="Senha"
          required
          minlength="8">
        </ion-input>
        <fa-icon class="eye" [icon]="faEye"></fa-icon>
      </ion-item> 

      <ion-text color="warning" class="ion-text-start">
        <p class="errorMsg">Senha é obrigatória</p>
      </ion-text>

      <ion-item class="background ion-margin-vertical">
        <ion-checkbox class="ion-margin-start" slot="start"></ion-checkbox>
        <ion-text class="textLogin" slot="start">Lembrar senha</ion-text>
        <ion-text class="textLogin ion-margin-end" slot="end">
          <a href="">Recuperar senha</a>
        </ion-text>
      </ion-item>

      <button class="ion-text-center" disabled>
        <p>Login</p>
      </button>

    </ion-list>

    <p class="textLogin">Não tem uma conta? <a href="">Cadastre-se</a></p>

  </form>
</ion-content>

<!-- <div class="content">
  <div class="avatar">
    <img src="assets/imgs/logo.png" alt="Logo">
  </div>

  <form #f="ngForm" class="form">
    <div class="list">
      <div>
        <div class="input background">
          <ion-input
            name="tel"
            type="tel"
            placeholder="Telefone"
            [maskito]="phoneMask"
            [maskitoElement]="maskPredicate"
            required>
          </ion-input>
        </div>
      </div>

      <p class="errorMsg warning">Telefone é obrigatório</p>

      <div class="input background">
        <ion-icon color="primary" slot="end" name="eye-outline"></ion-icon>
        <ion-input
          name="password"
          placeholder="Senha"
          required
          minlength="8">
        </ion-input>
      </div>

      <p class="errorMsg warning">Senha é obrigatória</p>

      <div class="background margin-vertical row">
        <input type="checkbox" id="remember">
        <label for="remember" class="textLogin">Lembrar senha</label>
        <a href="" class="textLogin">Recuperar senha</a>
      </div>

      <button type="submit" class="btn" [disabled]="!f.valid">
        <p>Login</p>
      </button>
    </div>

    <p class="textLogin bottomMsg">Não tem uma conta? <a href="">Cadastre-se</a></p>
  </form>
</div> -->



