<div class="custom-card">
  <div class="card-content">
    <div class="logo-background">
      <div class="logo-container">
        <img class="logo" src="/assets/imgs/logo.svg" alt="Logo SVG"/>
      </div>
    </div>
    <div class="info-container">
      <p class="title">Dia das Crianças</p>
      <p class="sub-title">GALAGO SISTEMAS</p>
      <p class="description">Receba 10% de desconto para compras a partir de 100 reais.</p>
    </div>
    <button class="cupon-button">
      <p>Abrir cupom</p>
    </button>
  </div>
</div>