@keyframes moveArrow {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(10px);
    }
  }

body {
    background: radial-gradient(27rem circle at bottom right,  
        rgba(1, 196, 118, 1) 5%,
        rgba(1, 172, 104, 1) 30%,  
        rgba(2, 23, 17, 1) 120%
    );
  }

.header {
    height: 38vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 72px 3px rgba(218, 214, 104, 0.27);
    border-radius: 0 0 40px 40px / 0 0 20px 20px;
}

.header-wave {
    width: 100%;
    height: auto;
    fill: transparent;
    color: transparent;
    margin-top: -5px;
  }

.user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 16px 0 0 0;
}

.user-info-box {
    display: flex;
    align-items: center;
}

.userIcon {
    font-size: 48px;
    margin: 8px 24px 0 24px;
    color: #1aca84;
}

.user-info span {
    font-size: 0.8rem;
}

.user-info p {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
}

.arrow {
    font-size: 24px;
    margin: 16px 48px 0 0;
    color: #1aca84;
    animation: moveArrow 1s ease-in-out infinite;
}

.eye {
    font-size: 20px;
    position: absolute;
    top: 3vw;
    right: 3vw;
}

.cashback-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 16px 0 24px;
}

.cashback-info > div span {
    font-weight: 800;
}

.cashback-info ion-button{
    --background: #01ac68;
    --background-activated: #01C476;
}

.cashback-info div span {
    font-size: 0.9rem;
}

.cashback-info > div p {
    font-size: 1.3rem;
    margin: 0 0 8px 8px;
}

.extract-button {
    height: 5.5vh;
    width: 22vw;
    background: #01ac68;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px 3px rgb(218, 214, 104, 0.2);
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.extract-button:active {
    background: #019c5f;
    border: 1px solid #021711;
    box-shadow: 0 0 4px 2px #021711;
}

.extract-button p {
    transition: font-size 0.3s ease-in-out;
    display: block;
    margin: auto auto;
}

.extract-button:active p {
    font-size: 13px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    --background: #021711;
    margin: 8px 0 16px 0;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    width: 28vw;
    background: #01ac68;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px 4px rgb(218, 214, 104, 0.2);
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.button:active {
    background: #019c5f;
    border: 1px solid #021711;
    box-shadow: 0 0 4px 2px #021711;
}

.button > div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;
    transition: margin 0.3s ease-in-out;
}

.button:active > div {
    margin: 12px 0;
}

.button fa-icon {
    font-size: 16px;
    color: white;
    transition: font-size 0.3s ease-in-out;
}

.button:active fa-icon {
    font-size: 15px;
}

.button p {
    margin: 0;
    color: white;
    transition: font-size 0.3s ease-in-out;
}

.button:active p {
    font-size: 13px;
}

h1 {
    color: #ffffff;
    font-size: 16px;
    margin: 16px 0 0 16px;
    text-align: center;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 38vh;
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(2, 23, 17, 0.7);
    border-radius: 12px;
    padding: 8px;
    margin: 8px 16px;
    border: 1px solid rgba(252, 252, 252, 0.1);
}
  
  .card-header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .avatar-container {
    width: 30%;
    height: 70px;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder for avatar */
  }

  .vertical {
    border-left: 5px dotted black;
    height: 100px;
    position: absolute;
    left: 40%;
  }
  
  .card-header-text {
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .card-subtitle {
    font-size: 0.9rem;
    color: gray;
    margin: 4px 0 0 0;
  }
  
  .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-content p {
    font-size: 12px;
    margin: 0;
  }
  
  .coupon-button {
    width: 70%;
    background-color: #01ac68;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
  }

  .coupon-button:hover {
    background-color: #01C476;
  }