<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Alterar Email</h1>
  </header>
  <main>
    <div class="input-container">
      <input
        type="email"
        class="custom-input"
        placeholder="Email"
        [(ngModel)]="email"
        (ngModelChange)="onEmailChange()"
        #emailInput="ngModel"
        required
        email
      />
    </div>
    <div
      *ngIf="emailError && !(emailInput.touched && emailInput.errors?.['email'])"
      class="error-message"
    >
      {{ emailError }}
    </div>
    <div
      *ngIf="!emailError && emailInput.touched && emailInput.errors?.['email']"
      class="error-message"
    >
      E-mail inválido.
    </div>
    <button
      class="save-button"
      type="submit"
      (click)="changeEmail()"
      [disabled]="emailInput.invalid"
    >
      <p>Salvar</p>
    </button>
  </main>
</body>
