<body>
  <header>
    <button class="return-button">
      <ion-icon class="arrow" name="chevron-back-outline"></ion-icon>
    </button>
    <h1>Cashback</h1>
  </header>
  <main>
    <div class="container">
      <div class="avatar">
        <img src="assets/imgs/logo.png" alt="Logo">
      </div>
      <div class="content">
        <h1 class="title"></h1>
        <p class="description"></p>
        <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    
    <!-- BOTAR HOVER E EFEITO QUANDO APERTA E ANIMAÇÃO NA SETA PRA ELA IR PRA DIREITA NO HOVER -->

  </main>
</body>