<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Saldo</h1>
  </header>
  <main>
    <p>Cashback total</p>
    <div class="balance">
      <p>
        R$
        <span *ngIf="showBalance; else hiddenBalance">{{ totalCashback$ | async }}</span>
        <ng-template #hiddenBalance>•••••</ng-template>
      </p>
      <fa-icon
        class="eye"
        [icon]="showBalance ? faEyeSlash : faEye" 
        (click)="toggleBalance()">
      </fa-icon>
    </div>
    <div class="list-establishments">
      <h1>Saldo por estabelecimento</h1>
      <div class="establishment-container" *ngFor="let establishment of detalheArray$ | async" (click)="selectEstablishment(establishment.codempresa)">
        <div class="avatar">
          <img src="assets/imgs/logo.png" alt="Logo">
        </div>
        <div class="content">
          <h1 class="title"> {{ establishment.nomefantasia }} </h1>
          <p class="establishment-balance">
            R$ <span *ngIf="showBalance; else hiddenBalance"> {{ establishment.saldocashback }}</span>
            <ng-template #hiddenBalance>•••••</ng-template>
          </p>
        </div>
        <div class="arrow-container">
          <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </main>
</body>
