<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Alterar Telefone</h1>
  </header>
  <main>
    <div class="input-container">
      <ion-input
        type="tel"
        class="custom-input"
        placeholder="Telefone"
        [(ngModel)]="phoneMasked"
        (ngModelChange)="onPhoneChange()"
        [maskito]="phoneMask"
        [maskitoElement]="maskPredicate"
        #phoneInput="ngModel"
        minlength="15"
        maxlength="15"
        required
      ></ion-input>
    </div>
    <ion-text
      *ngIf="phoneError && !(phoneInput.touched && phoneInput.errors?.['phone'])"
      color="warning"
      class="ion-text-start"
    >
      <p class="errorMsg">{{ phoneError }}</p>
    </ion-text>
    <ion-text
      *ngIf="!phoneError && phoneInput.touched && phoneInput.errors?.['phone']"
      color="warning"
      class="ion-text-start"
    >
      <p class="errorMsg">Telefone inválido.</p>
    </ion-text>
    <button
      class="ion-text-center button"
      type="submit"
      (click)="changePhone()"
      [disabled]="phoneInput.invalid"
    >
      <p>Salvar</p>
    </button>
  </main>
</body>
