<body>
  <header>
    <app-back-button></app-back-button>
    <h1>Alterar Telefone</h1>
  </header>
  <main>
    <div class="input-container">
      <ion-input
        type="tel"
        class="custom-input"
        placeholder="Telefone"
        [(ngModel)]="phoneMasked"
        (ngModelChange)="onPhoneChange()"
        [maskito]="phoneMask"
        [maskitoElement]="maskPredicate"
        #phoneInput="ngModel"
        minlength="15"
        maxlength="15"
        required
      ></ion-input>
    </div>
    <div
      *ngIf="phoneError && !(phoneInput.touched && phoneInput.errors?.['phone'])"
      class="error-message"
    >
      {{ phoneError }}
    </div>
    <div
      *ngIf="!phoneError && phoneInput.touched && phoneInput.errors?.['phone']"
      class="error-message"
    >
      Telefone inválido.
    </div>
    <button
      class="save-button"
      type="submit"
      (click)="changePhone()"
      [disabled]="phoneInput.invalid"
    >
      <p>Salvar</p>
    </button>
  </main>
</body>
